{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container-fluid float-left ">
        <div class="row">
            <div class="col-md-4 container pt-2">
                <img src="{% static "groom.jpg" %}" class="img img-fluid">
            </div>
            <div class="col-md">
                <h2 class="text-vivid">Ski Like a Local</h2>
                <p>
                    Blue Moon Groom is a service that provides you with daily information about the
                    best, most unique runs on the mountain.
                </p>
                <p>
                    Anywhere you go, get guidance just as if a local was telling you where to ski.
                    Blue Moon Groom guides you to runs that are rarely groomed and makes each
                    day on the mountain a unique experience.
                </p>
                <p>
                    Blue Moon Groom is currently available at {{ resorts_str }}.
                </p>
                {% if not user.is_authenticated %}
                    <a href="{% url 'signup' %}">
                        <button type="button" class="btn btn-success active">Sign Up</button>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}