{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="container-fluid" >
        <h1 class="text-vivid p-1">Today's Blue Moon Grooming Reports</h1>
        {% for master in resorts_runs %}
            <div class="row p-1">
            {% for item in master %}
                <div class="col-md-6 p-1">
                    <a href={{ item.2 }}>
                        <h3 class="text-ucla">{{ item.0 }}: {{ item.1 }}</h3>
                    </a>
                    <ul class="list-group">
                    {% if item.3|length > 0 %}
                        {% for run_run_id in item.3 %}
                            <a href="{{ run_run_id.1 }}" class="alert-link alert-link-dark">
                                <li class="list-group-item text-bluejeans d-flex flex-wrap align-items-center">
                                    {% if run_run_id.2 is not None %}
                                        <img src="{% static run_run_id.2 %}" class="img-fluid"
                                             style="width: 17px; vertical-align: text-top; padding-right: 5px">
                                    {% endif %}
                                    <span>{{ run_run_id.0 }}</span>
                                </li>
                            </a>
                        {%  endfor %}
                    {% else %}
                        <li class="list-group-item">There are no Blue Moon runs today</li>
                    {% endif %}
                    </ul>
                </div>
            {% endfor %}
            </div>
        {% endfor %}
    </div>

{% endblock %}