files:
  "/etc/httpd/conf.d/wsgi_custom.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      WSGIPassAuthorization On

  "/etc/httpd/conf.d/https_rewrite.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      ReWriteEngine On
      <If "-n '%{HTTP:X-Forwarded-Proto}' && %{HTTP:X-Forwarded-Proto} != 'https'">;
      ReWriteRule !/health https://%{HTTP_HOST}%{REQUEST_URL} [R,L]
      </If>;
